<template>
    <div>
        <ShopItemList></ShopItemList>
    </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import ShopItemList from '@/components/ShopItemList.vue';

@Component({
    components:{ShopItemList}
})
export default class Home extends Vue {

}
</script>
