<template>
    <div>
        <div>
            Seznam
        </div>
        <ShopItem v-for="item in items" :item="item"></ShopItem>
    </div>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import ShopItem from '@/components/ShopItem.vue';
import {State} from "vuex-class";

@Component({
    components: {ShopItem},
})
export default class ShopItemList extends Vue {

    @State(state => state.items.items)
    items: [];

    created() {
        this.$store.dispatch('items/getAll')
    }
}
</script>

<style scoped>

</style>
