<template>
    <div>
        <label>name</label><span>{{item.attributes.name}}</span>
    </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class ShopItem extends Vue {

    @Prop() item: any;
}
</script>

<style scoped>

</style>
